*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
header{
      background-color:white
      color:rgb(0, 0, 0);
      padding: 10px 0;
      text-align: center;
      border-style:outset;
      border-color:rgb(33, 34, 34);
      border-width:thick ;
      border-radius: 12px
    }
    body{
      font-family:Georgia, 'Times New Roman', Times, serif ;
      background-color:rgb(255, 255, 255);
      color:rgb(0, 0, 0);
      line-height: 1.6;
      padding: 20px;
    }
    header h1{
      margin-bottom: 10px;
    }
    